.containerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid aliceblue;
  cursor: pointer;
}

.containerItem:hover {
  /* padding: 0.7rem 0.3rem; */
}
.disponivel {
  background-color: rgb(29, 116, 87);
  padding: 0.5rem;
}
.indisponivel {
  color: rgb(3, 3, 3);
  font-weight: 450;
  background-color: rgb(196, 68, 68);
  padding: 0.5rem;
}
