.form {
  border: 1px solid aliceblue;
  background-color: rgb(22, 22, 22);
  padding: 10% 5%;
  border-radius: 15px;
}

.btnYes {
  background-color: #008000;
}
.btnNo {
  background-color: #ff0000ce;
}

.btnDisponivel {
  margin-top: 1rem;
}

.btnCadastrarProd {
  margin-top: 0.6rem;
}
